$banner-backgroud-color: #00000036;
$banner-header-color: #01170f;

$bp--small: 400px;
$bp--medium: 768px;
$bp--large: 1024px;

@mixin respond-to($media) {
  @if $media==$bp--small {
    @media only screen and (max-width: $bp--small) {
      @content;
    }
  } @else if $media==$bp--medium {
    @media only screen and (min-width: $bp--small + 1) and (max-width: $bp--medium - 1) {
      @content;
    }
  } @else if $media==$bp--large {
    @media only screen and (min-width: $bp--large) {
      @content;
    }
  }
}

$bg-img: url("ProPic.jpg");

.banner {
  display: grid;
  @media only screen and (max-width: $bp--medium) {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    text-align: center;
    height: 220px;
  }
  @media only screen and (min-width: $bp--large) {
    grid-template-columns: 25% 75%;
  }

  border-style: groove;
  box-sizing: border-box;

  h1 {
    margin: 20px 20px 0px;
    font-weight: 100;
    font-size: 4em;
  }

  &-icons {
    ul {
      list-style: none;
      padding: 0px;
    }
    @media only screen and (max-width: $bp--medium) {
      text-align: center;
    }
    @media only screen and (min-width: $bp--large) {
      margin-left: 20px;
    }
  }

  &-image {
    position: relative;
    img {
      @media only screen and (max-width: $bp--medium) {
        top: 69%;
        left: 34.5%;
      }
      @media only screen and (min-width: $bp--large) {
        top: 65%;
        left: 83%;
        border: 1px;
        border-style: groove;
        border-color: #425e42;
      }
      width: 120px;
      border-radius: 50%;
      position: absolute;
    }
  }
}
