$banner-backgroud-color: #00000036;
$banner-header-color: #01170f;

.banner {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  border: 1px;
  border-style: groove;
  padding: 0 2%;
  justify-content: space-between;

  &-left {
    width: 50%;
  }

  &-heading {
    color: $banner-header-color;

    h1 {
      margin: 20px 0px 0px;
      font-weight: 100;
      font-size: 4em;
    }
  }

  &-icons {
    height: 25%;
    display: flex;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0px;
      width: 50%;
    }
  }

  &-image img {
    width: 120px;
    border-radius: 50%;
    top: 17%;
    position: absolute;
    left: 83%;
  }
}