$banner-backgroud-color: #00000036;
$banner-header-color: #01170f;

$bp--small: 400px;
$bp--medium: 768px;
$bp--large: 1024px;

@mixin respond-to($media) {
  @if $media==$bp--small {
    @media only screen and (max-width: $bp--small) {
      @content;
    }
  } @else if $media==$bp--768 {
    @media only screen and (min-width: $bp--small + 1) and (max-width: $bp--medium - 1) {
      @content;
    }
  } @else if $media==$bp--large {
    @media only screen and (min-width: $bp--medium) {
      @content;
    }
  }
}

$bg-img: url("ProPic.jpg");

.banner {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  border: 1px;
  border-color: #7db37d;
  border-style: groove;
  padding: 0 2%;
  justify-content: space-between;

  &-left {
    width: 50%;
  }

  &-heading {
    color: $banner-header-color;

    h1 {
      margin: 20px 0px 0px;
      font-weight: 100;
      font-size: 4em;
    }
  }

  &-icons {
    height: 25%;
    display: flex;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0px;
      width: 50%;
    }
  }

  &-image {
    img {
      width: 120px;
      border-radius: 50%;
      top: 17%;
      position: absolute;
      left: 83%;
      border: 1px;
      border-style: groove;
      border-color: #425e42;
    }
  }
}

// margin: 20px 0px 0px;
//     font-weight: 120;
//     font-size: 2em;

// margin: 20px 0px 0px;
// font-weight: 100;
// font-size: 2em;

/*
namefont-size: 3em;*/
