.timeLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 10% 0;

  &-logo{
    opacity: 0.4;
  }
  &-connector {
    &--primary {
      flex-grow: 50
    }

    &--secondary {
      flex-grow: 1
    }
  }


}