.experience {
  height: 100%;
  padding: 0px 10px;

  &-header {
    // border: 1px solid tomato;
    display: flex;

    height: 10%;

    &--company {
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &-details {
    // border: 1px solid turquoise;
    height: 90%;
  }
}