@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Major+Mono+Display&family=Roboto:wght@100&display=swap');

@mixin gb-header {
  h1 {
    margin: 20px 0px;
    font: 3em 'Roboto',
      sans-serif;

    @media (min-width: 768px) {
      font-size: 5em;
    }
  }
}

@mixin gb-experience {
  h2 {
    margin: 15px 0px;
    font: 1.8em 'Major Mono Display', monospace;

    @media (min-width: 768px) {
      font-size: 3em;
    }
  }

  h3 {
    margin: 10px 0px;
    font-style: italic;
  }

  font-family: 'Lato',
  sans-serif;
  font-size: 1em;
}

$Font-Srisakdi : 'Srisakdi',
cursive;
$Font-Header-Subtitle: 'Comfortaa',
cursive;


$Font-Title: 'Zilla Slab',
serif;
$Font-Subtitle: 'Zilla Slab',
serif;
$Font-text: 'Special Elite',
cursive;