.iconHref {
  color: inherit;
  text-decoration: none;
  display: flex;
  padding: 0px;

  // @include media-breakpoint-up(sm) {
  //   text-align: center;
  // }

  &-icon {
    margin-right: 12px;
    width: 15px;
  }

  &-text {
    font-size: 0.9em;
    width: 100%;
  }
}