@import "../../App/app.scss";

.iconHref {
  color: inherit;
  text-decoration: none;
  display: flex;
  font-family: $Font-Header-Subtitle;
  margin-bottom: 3px;

  &-icon {
    margin-right: 12px;
    width: 15px;
  }

  &-text {
    font-size: 0.9em;
  }
}